* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: Marker;
    src: url("./fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

@font-face {
    font-family: Simpson;
    src: url('./fonts/simpsonfont/Simpsonfont DEMO.otf');
}

@font-face {
    font-family: Digital;
    src: url('./fonts/digital-7/digital-7.ttf');
}

body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: #58C8FD;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Simpson';
    color: #FFD92E;
    text-shadow: -4px -1px 0 #000, 1px -1px 0 #000, -4px 1px 0 #000, 1px 1px 0 #000;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 2rem;
    padding-top: 1rem;
}

.score {
    background: url('./images/tv.png') no-repeat;
    background-size: 100%;
    height: 6rem;
    width: 6rem;
    margin-top: 1.2rem;
    color: white; 
    font-size: 2.5rem;
    font-family: 'Simpson';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
}

#tv {
    height: 5rem;
    width: auto; 
}

.bushes {
    width: 80vw; 
    display: grid;
    justify-items: center;
    margin-left: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45% 10% 45%;

}

.container {
    width: 22rem; 
    height: 22rem; 
    transform: scale(.7);
    position: relative; 
    margin-top: -2.5rem;
}

.homer {
    transform: scale(.55);
    position: absolute;
    bottom: -90px;
    left: 120px;
    transition: all .5s;
    z-index: 2;
}

.A, .B, .C, .D {
    position: absolute;
}

.A {
    transform: scale(.5) scaleY(1) scaleX(1) rotate(-60deg);
    bottom: 15px;
    left: 1px;
    z-index: 3;
}
 
.B {
    transform: scale(.5) scaleX(-1);
    left: 212px;
    top: -150px;
    z-index: 4;
}

.C {
    transform: scale(.5);
    z-index: -10;
    bottom: -145px;
    left: 130px;
}

.D {
    transform: scale(.5) rotate(-69deg);
    left: 200px;
    bottom: -30px;
}

.homer.out{
    left: -30px; 
    z-index: 3; 
}

.start {
    grid-column: span 3;
    margin-left: 14rem;
    margin-top: -1rem;
    font-size: 1.7rem;
    font-family: 'Simpson';
    color: white;
    text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -2px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: .2rem;
    transition: transform 21s linear;
}   

#donut {
    height: 4.3rem;
    width: auto;
    padding-left: 1.3rem;
    position: relative;
    z-index: 2;
}

p {
    position: relative;
    margin-top: -4.2rem;
    margin-left: 0.2rem;
    z-index: 4;
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.rotate {
    animation-name: rotate;
    animation-duration: 22s;
    transform-origin: center;
    
}